@font-face {
    font-family: "SedanSC";
    src: url("../fonts/SedanSC-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: "SedanSC", sans-serif;
    background-color: #f0f0f0; /* Couleur de fond par défaut */
}

#CanvaDiv{
    position: ;
}